# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtual Environment
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
logs/
*.log

# Airflow
airflow/logs/
airflow/airflow.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# dbt
dbt/target/
dbt/dbt_packages/

# Local Data
data/bronze/
data/silver/
data/gold/

# UV
uv.lock